:root {
  /* colors */
  --q-primary: #a85690;
  --q-primary-ligth: #d096c3;
  --q-primary-extra-ligth: #efdbeb;
  --q-primary-salmon: #f9cad0;
  --q-secondary: #b37841;
  --q-tertiary: #89b5bf;
  --q-accent: #e04f2e;
  --q-info: #eaac82;
  --q-negative: #c10015;

  --brown: #974c00;
  --brown-ligth: #deb599;
  --brown-ligth-medium: #d17e46;

  --gray: #9d9d9d;
  --gray-ligth: #fcfcfc;
  --gray-steel: #d5d8cf;

  --orange-light: #fdca8f;

  --yellow-light: #fff4db;

  --steel: #576669;
  --steel-dark: #2a4449;

  /* Font size variables */

  --font-small: 0.8em;
  --font-medium: 1em;
  --font-medium-large: 1.2em;
  --font-large: 1.5em;
  --font-large-xl: 2em;

  --font-head-h1: 2.8em;
  --font-head-h2: 2em;
  --font-head-h3: 1.67em;
  --font-head-h4: 1.5em;
  --font-head-h5: 1.33em;

  /* spacing */
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;

  /* grid size */
  --grid-sm: 576px;
  --grid-md: 768px;
  --grid-lg: 992px;
  --grid-xl: 1200px;
}
